 <h1>Ton profil!</h1>
<% provide(:title, @user.email) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h1>
<div class="center jumbotron">
<p> Quelque chose à changer sur la page d'acceuil, tu devrais y faire un  
	<td><%= link_to 'tour', root_path %></td>
</p>
</div>
